{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "tsconfigRootDir": ".",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "alias": {
                "map": [
                    ["^~", "./src"]
                ],
                "extensions": [".ts", ".tsx"]
            }
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript" 
    ],
    "rules": {
        "import/order": ["warn", {
            "newlines-between": "never",
            "alphabetize": { 
                "order": "asc", 
                "caseInsensitive": true 
            }
            // "pathGroups": [
            //     {
            //         "pattern": "~/graphql/__generated__/**",
            //         "group": "parent",
            //         "position": "before"
            //     },
            //     {
            //         "pattern": "~/graphql/**",
            //         "group": "parent",
            //         "position": "before"
            //     },
            //     {
            //         "pattern": "~/utils/**",
            //         "group": "parent",
            //         "position": "before"
            //     },
            //     {
            //         "pattern": "~/components/**",
            //         "group": "parent",
            //         "position": "before"
            //     },
            //     {
            //         "pattern": "~/pages/**",
            //         "group": "parent",
            //         "position": "before"
            //     },
            //     {
            //         "pattern": "~/styles/**",
            //         "group": "parent",
            //         "position": "before"
            //     }
            // ]
        }]
    }
}