{
    "extends": "stylelint-config-sass-guidelines",
    "ignoreFiles": [
        "**/*.ts",
        "**/*.tsx"
    ],
    "rules": {
        "indentation": 4,
        "max-nesting-depth": null,
        "selector-max-id": null,
        "selector-max-compound-selectors": null,
        "string-quotes": "single",
        "declaration-block-trailing-semicolon": "always",
        "function-url-quotes": "always",
        "font-family-name-quotes": "always-unless-keyword",
        "selector-pseudo-element-colon-notation": "double",
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "block-no-empty": [true, { "severity": "warning" }],
        "comment-no-empty": true,
        "no-duplicate-at-import-rules": true,
        "no-duplicate-selectors": true,
        "no-empty-source": [true, { "severity": "warning" }],
        "no-extra-semicolons": true,
        "shorthand-property-no-redundant-values": true,
        "declaration-no-important": null,
        "selector-class-pattern": null,
        "declaration-property-value-blacklist": null,
        "scss/function-quote-no-quoted-strings-inside": true,
        "scss/function-unquote-no-unquoted-strings-inside": true,
        "scss/declaration-nested-properties": "never",
        "scss/dimension-no-non-numeric-values": true,
        "scss/operator-no-newline-after": true,
        "scss/operator-no-newline-before": true,
        "scss/operator-no-unspaced": true,
        "scss/selector-no-redundant-nesting-selector": true,
        "scss/no-duplicate-dollar-variables": true,
        "scss/no-duplicate-mixins": true,
        "scss/no-global-function-names": null,
        "scss/at-import-no-partial-leading-underscore": null,

        "function-name-case": "lower",
        "selector-type-case": "lower",
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-element-case": "lower",
        "unit-case": "lower",
        "value-keyword-case": "lower",
        "property-case": "lower",
        "media-feature-name-case": "lower",
        "at-rule-name-case": "lower",

        "function-calc-no-invalid": true,
        "function-calc-no-unspaced-operator": true,
        "function-linear-gradient-no-nonstandard-direction": true,
        "string-no-newline": true,
        "unit-no-unknown": true,
        "property-no-unknown": true,
        "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }],
        "selector-pseudo-element-no-unknown": true,
        "selector-type-no-unknown": true,
        "media-feature-name-no-unknown": true,
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "no-unknown-animations": true,
        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,
        "length-zero-no-unit": true,

        "property-no-vendor-prefix": true,
        "value-no-vendor-prefix": true,
        "at-rule-no-vendor-prefix": true,
        "selector-no-vendor-prefix": true,
        "media-feature-name-no-vendor-prefix": true,

        "selector-list-comma-newline-after": null,
        "selector-list-comma-space-after": "always",
        "selector-list-comma-space-before": "never",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-descendant-combinator-no-non-space": true,
        "selector-max-empty-lines": 0,
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "comment-whitespace-inside": "always",
        "comment-empty-line-before": ["always", { "except": ["first-nested"], "ignore": ["after-comment", "stylelint-commands"] }],
        "rule-empty-line-before": ["always", { "except": ["first-nested"], "ignore": ["after-comment"] }],
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "function-parentheses-space-inside": "never",
        "function-whitespace-after": "always",
        "function-max-empty-lines": 0,
        "value-list-comma-space-after": "always",
        "value-list-max-empty-lines": 0,
        "media-query-list-comma-space-after": "always",
        "media-query-list-comma-space-before": "never",
        "at-rule-name-space-after": "always",
        "at-rule-semicolon-newline-after": "always",
        "at-rule-semicolon-space-before": "never",
        "no-eol-whitespace": [true, { "severity": "warning" }],
        "max-empty-lines": 3,
        "no-empty-first-line": true,
        "scss/double-slash-comment-empty-line-before": ["always", { "except": ["first-nested"], "ignore": ["between-comments", "stylelint-commands", "inside-block"] }],
        "scss/double-slash-comment-whitespace-inside": "always",
        "selector-no-qualifying-type": null,

        "color-hex-case": "upper",
        "color-hex-length": "long",
        "color-named": null,

        "order/properties-alphabetical-order": null,
        "order/properties-order": [[
            "content",

            "box-sizing",
            "position",
            "top",
            "bottom",
            "left",
            "right",
            "grid-area",
            "grid-column",
            "grid-column-start",
            "grid-column-end",
            "grid-row",
            "grid-row-start",
            "grid-row-end",
            "place-self",
            "align-self",
            "justify-self",

            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "flex",
            "flex-basis",
            "flex-grow",
            "flex-shrink",
            "margin",
            "margin-top",
            "margin-bottom",
            "margin-left",
            "margin-right",
            "padding",
            "padding-top",
            "padding-bottom",
            "padding-left",
            "padding-right",

            "transform",
            "float",
            "display",
            "grid",
            "grid-template",
            "grid-template-areas",
            "grid-template-columns",
            "grid-template-rows",
            "grid-auto-columns",
            "grid-auto-rows",
            "grid-auto-flow",
            "grid-gap",
            "grid-column-gap",
            "grid-row-gap",
            "flex-flow",
            "flex-direction",
            "flex-wrap",
            "place-content",
            "justify-items",
            "justify-content",
            "align-items",
            "align-content",
            "vertical-align",
            "text-align",
            "visibility",

            "background",
            "background-image",
            "background-position",
            "background-attachment",
            "background-repeat",
            "background-color",
            "border",
            "border-width",
            "border-style",
            "border-color",
            "border-radius",
            "border-top",
            "border-top-width",
            "border-top-style",
            "border-top-color",
            "border-bottom",
            "border-bottom-width",
            "border-bottom-style",
            "border-bottom-color",
            "border-left",
            "border-left-width",
            "border-left-style",
            "border-left-color",
            "border-right",
            "border-right-width",
            "border-right-style",
            "border-right-color",
            "box-shadow",
            "filter",

            "list-style",
            "list-style-type",
            "list-style-position",
            "list-style-image",

            "font",
            "font-family",
            "font-variant",
            "font-size",
            "font-weight",
            "font-style",
            "text-decoration",
            "text-transform",
            "text-indent",
            "letter-spacing",
            "line-height",
            "color",

            "overflow",
            "overflow-x",
            "overflow-y",
            "clip",
            "z-index",
            "cursor",
            "transition",
            "animation"
        ], {
            "unspecified": "bottom"
        }]
    }
}
